* {
    margin: 0;
}

/*----- TYPOGRAPHY -----*/

h1, h2, h3, a, p {
    font-family: "transat-text", sans-serif;
}

h1 {
    font-weight: 600;
}

p, a {
    color:darkslategrey;
}

.mo-logo {
    max-width: 80px;
}

/*----- FLEX/GRID STRUCTURES -----*/

.wrapper-home {
    display: flex;
    flex-direction: row;
}

.home-left {
    display: flex;
    flex-direction: column;
    
    position: fixed;
    min-width: 20%;
    height: 80vh;
    align-items: flex-end;
    padding: 6rem;
    gap: 2rem;

    background-color: #f4f8f6;

}

.home-left-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    text-align: right;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }