* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
a {
  font-family: "quicksand", sans-serif;
}

h2 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

.wrapper {
  background-color: #000;

  position: relative;
}

section {
  background-image: url(../images/space-background.jpeg);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;

  color: rgb(255, 242, 182);
  border-bottom: 1px solid white;
}

article {
  width: 80%;
  margin: auto;
  padding: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 400px;
}

article.content {
  justify-content: space-between;
  align-items: space-between;
}

.intro {
  min-height: 100vh;
  width: 100vw;

  color: rgb(255, 242, 182);
  border-bottom: 1px solid white;
}

.intro .content {
  gap: 60px;
}


.event-card {
  background-color: rgba(5, 11, 23, 0.75);
  border-radius: 20px;
  box-shadow: 0 0 20px 10px rgba(5, 11, 23, 0.75);


  max-width: 65%;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 10px;

}



.calendar {
  position: fixed;
  top: 40px;
  right: 40px;
  background: black;
  color: white;
  border: 1px solid white;
  padding: 10px;
  min-height: 80px;
  min-width: 120px;
}

.hide {
  height: 0;
  opacity: 0;
  transition: 1s;
  display: none;
}