* {
  box-sizing: border-box;
}

h1, h2, h3, h4, p, a {
  font-family: "quicksand", sans-serif;
  opacity: 0;
}

h2 {
  font-weight: 700;
}

p {
  font-weight: 400;
}


section {
  min-height: 100vh;
  width: 100vw;
  background-image: url(../images/space-background.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(255, 242, 182);
  border-bottom: 1px solid white;
}

article {
  width: 80%;
  margin: auto;
  padding: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 400px;
}

.event-card {
  background-color: rgba(5, 11, 23, 0.75);
  border-radius: 20px;
  box-shadow: 0 0 20px 10px rgba(5, 11, 23, 0.75);
  opacity: 0;

  max-width: 65%;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 10px;

}

.wrapper {
  position: relative;
}

.calendar {
  position: fixed;
  top: 40px;
  right: 40px;
  background: black;
  color: white;
  border: 1px solid white;
  padding: 10px;
  min-height: 80px;
  min-width: 120px;
}

h1, h2, h3, h4, p, a, .event-card {
  animation: fade-in linear;
  animation-timeline: view(-5vh 25vh);
}

@keyframes fade-in {
  0% {opacity: 0;}
  30% {opacity: 1;}
  80% {opacity: 1;}
}

