* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #113233;
}

/*------- TYPOGRAPHY -------*/

h1, h2, h3, a, p {
  font-family: "transat-text", sans-serif;
}

h1 {
  font-weight: 700;
  font-style: italic;
  font-size: 4rem;
  color: #C6EBE0;
  margin: 1rem 0;
}

h1 span {
  color: white;
}

h3 {
  /* color: #5fb3a8; */
  color: #C6EBE0;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

/*------- NAV / HERO -------*/

.hero {
  height: 90vh;
  max-width: 100vw;  
  box-shadow: 0px 0px 10px black inset;
  
  display: flex;
  justify-content: center;
  align-items: center;

}

.hero-lockup {
  text-align: center;

  display: flex;
  flex-direction: column;
  padding: 0 30vw;
}

#hero-gradient {
  background: radial-gradient(
  circle,
  #C6EBE066,
  #C6EBE066 40%,
  #113233 65%);  
  width: 600px;
  height: 600px;
  position: absolute;
  z-index: -2;
  top: -300px;
  left: -300px;
  transform: translate(200px, 200px);
}

.hero-pattern {
  background-image: url("../images/mo-leaf-invert.svg");
  background-size: 140px;
  background-repeat: repeat;
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.nav-icon-home img {
  position: fixed;
  z-index: 0;
  max-width: 140px;
  padding: 40px;

}


/*------- SPECIALTIES -------*/

.specialties {
  background-color: #C6EBE0;
  z-index: 10;
  position: relative;
  height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 60% 40%;

}

.specialties .wayfinding {
  grid-column: 1/3;
  border: 1px solid purple;
}

.specialties .web {
  grid-column: 1/3;
  border: 1px solid red;
}

.specialties .motion {
  grid-column: 1/3;
  border: 1px solid red;
}

/*------- PORTFOLIO -------*/

.portfolio {
  background-color: #113233;
  max-width: 100vw;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolio a, .portfolio a:visited {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: #C6EBE0;
  
  transition: 200ms all;
}

.portfolio a:hover {
  color: white;
}

.left ul {
  list-style: none;
  position: sticky;
  top: 200px;
}

.left li {
  padding: 0.25rem 0;
}

.right {
  background-color: #C6EBE0;
  transform: skewX(-10deg);
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 60px;
}

.portfolio-grid img {
  border-radius: 10px;
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.3);
}