* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.body-home {
  margin: 0;
  background-color: #113233;
  overflow-x: clip;
}



/*------- TYPOGRAPHY -------*/

h1, h2, h3, h4, a, p {
  font-family: "transat-text", sans-serif;
}

h1 {
  font-weight: 700;
  font-style: italic;
  margin: 0.5rem 0;
}

.body-home h1 {
  color: #C6EBE0;
  font-size: 4rem;
}

.body-detail h1 {
  color: #113233;
  font-size: 3.25rem;
}

h1 span {
  color: white;
}

h3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

/*------- NAV / HERO -------*/

.hero {
  height: 90vh;
  max-width: 100vw;  
  box-shadow: 0px 0px 20px black inset;
  
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.hero-lockup {
  text-align: center;
  /* filter: drop-shadow(0 0 2rem #113233); */
  background-color: #11323399;
  border-radius: 70px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  display: flex;
  flex-direction: column;
  margin: 0 25vw;
  padding: 1rem;
  padding-bottom: 1.5rem;
}

.hero-lockup-text {
  color: #C6EBE0;
}

#hero-gradient {
  background: radial-gradient(
  circle,
  #C6EBE066,
  #C6EBE066 30%,
  #11323366 65%,
  #113233 80%);  
  width: 600px;
  height: 600px;
  position: fixed;
  z-index: -2;
  top: -300px;
  left: -300px;
  transform: translate(200px, 200px);
}

.hero-pattern {
  background-image: url("../images/mo-leaf-invert.svg");
  background-size: 140px;
  background-repeat: repeat;
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.nav-icon-home {
  position: fixed;
  z-index: 1;
  top: 40px;
  left: 40px;
}

.nav-icon-home img {
  width: 60px;
}

/*------- SPECIALTIES -------*/

.specialties {
  background-color: #C6EBE0;
  z-index: 10;
  position: relative;
  max-width: 100vw;
  padding:40px;
  padding-top: 0;
  align-items: center;

  display: flex;
  flex-direction: column;
}

.special-card {
  height: 25vh;
  width: 100%;
}

.special-card h3 {
  position: absolute;
  font-size: 24vh;
  font-weight: 700;
  font-style: italic;
  color:#113233;
  opacity: 0%;
  text-align: center;

  transition: 300ms all;
}

.special-card h3:hover {
  opacity: 20%;
}

/*------- PORTFOLIO GENERAL / LEFT -------*/

.portfolio {
  background-color: #113233;
  max-width: 100vw;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 2fr 3fr;
}

.selector, .selector:visited {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: #C6EBE0;
  
  transition: 200ms all;
}

.portfolio a:hover {
  color: white;
}

.selected {
  text-decoration: underline;
}

.left ul {
  list-style: none;
  position: absolute;
  top: 200px;
}

.left li {
  padding: 0.25rem 0;
}

/*------- PORTFOLIO RIGHT -------*/

.right {
  background-color: #C6EBE0;
  /* background: linear-gradient(0deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%); */

  align-self: start;
  transform: skewX(-10deg);
  min-height: 100vh;
  z-index: -4;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 80px;
  padding-right: 120px;
  
  align-self: start;

}

.card {
  border-radius: 10px;
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  position: relative;
}

.portfolio-grid img {
  object-fit: cover;
  height: 100%;
  width: 130%;
}

.card-hover-text {
  color: transparent;
  position: absolute;
  inset: 0;
  z-index: 1;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;

  transition: 300ms all;
}

.card-hover-text h3 {
  font-weight: 600;
}

.card img {
  transition: 300ms all;
}

.card:hover img {
  filter: brightness(50%) grayscale();
}

.card:hover .card-hover-text {
  color: white;
}

/*------- FOOTER -------*/

footer {
  background-color: rgb(228, 241, 238);
  height: 30vh;
}

/*------- DETAIL PAGE -------*/

.body-detail {
  margin: 0;
  background-color: rgb(228, 241, 238);
  height: 135vh;
}

.nav-icon-detail {
  z-index: 1;
  padding: 40px;
  position: relative;
}

.nav-icon-detail img {
  width: 60px;
}

.hero-detail {
  background-color: #C6EBE0;
  
  display: flex;
  align-items: center;
  padding-right: 140px;
}

.title-detail {
  text-align: center; 
  flex: 1;
}

.detail-lockup {
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.detail-lockup-bottom {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.lockup-category {
  padding: 10px 20px;
  border: 3px solid #113233;
  border-radius: 30px;
  color: #113233;
  font-weight: 600;

  transition: 300ms all;
}

.lockup-category p {
  margin: 0;
}

.lockup-category:hover {
  background-color: #113233;
  border: 3px solid #113233;
  border-radius: 30px;
  color: #C6EBE0;
}

.spacer {
  height: 10px;
  background-color: #113233;
}

/*------- DETAIL PAGE MAIN -------*/

.main-detail {
  background-color: rgb(228, 241, 238);
  /* box-shadow: 0px 2px 5px #11323344; */
  margin: 0 20%;

  display: flex;
  flex-direction: column;


}

/*------- MARQUEE -------*/

/* .marquee {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #113233;
  color: #C6EBE0;
}

.marquee h3 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 20s linear infinite;
}

@-moz-keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
      -webkit-transform: translateX(100%);
  }
  100% {
      -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
} */